.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;

}
.parent{
    display: flex;
    justify-content: space-evenly;
}
.areachart{
    margin-top: 20px;
}