<div class="card">
    <mat-card>
       <app-cards
            bg="bg-cyan-500"
            icon=" local_grocery_store"
            content="products"
            total="600"></app-cards>
      </mat-card>
      

      <mat-card>
       <app-cards
            bg="bg-teal-400"
            icon=" layers"
            content="sales"
            total="89%"></app-cards>
      </mat-card>


 <mat-card>
        <app-cards
            bg="bg-yellow-300"
            icon="bar_chart"
            content="growth"
            total="78%"></app-cards>
      </mat-card>



      <mat-card>
       <app-cards 
            bg="bg-rose-600"
            icon="add_shopping_cart"
            content="production"
            total="4000"></app-cards>
      </mat-card>
</div>

<div class="areachart">
<app-area-chart></app-area-chart>
</div>
<div class="parent">
      <div>
            <app-pie-chart></app-pie-chart>
              </div>
    <div><app-table></app-table></div>
 
</div>