
<header><app-header  (toggle)="sidebartoggle()"></app-header></header>

<!-- <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
  </mat-drawer-container> -->
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" [opened]="sidebar"><app-side-bar></app-side-bar></mat-drawer>
    <mat-drawer-content>
        <!-- <app-main-contact></app-main-contact> -->
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
  

 <footer class="mt-6">
  <app-footer></app-footer>
 </footer>

